<!DOCTYPE html>
<html lang = "en">
<head>
<title>Search Interface</title>
</head>
<body>
<form action="/" method="GET">
  <p style="text-align:center"><input type="text" name="q"/></p>
  <p style="text-align:center"><input type="range" name="w" min="0" max="1" step="0.01"/></p>
  <input type="submit" value="Search"/>
</form>
{% if not is_empty %}
  {% for result in results %}
    <p class="doc_title" style="text-align:center"><b> {{result.title}} </b></p>
    <p class="doc_summary" style="text-align:center"> {{result.summary}}</p>
  {% endfor %}
{% else %}
  <p className="no_results">
{% endif %}
</body>
</html>
